body {
  background: #f44336;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.wifi {
  width: 290px;
  aspect-ratio: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  overflow: hidden;
}

.wifi::before, .wifi::after {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  border-radius: 100%;
}

.wifi::before {
  -webkit-box-shadow: inset 0 0 0 40px #484848, inset 0 0 0 60px #f44336, inset 0 0 0 100px #484848, inset 0 0 0 120px #f44336, inset 0 0 0 160px #484848, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
          box-shadow: inset 0 0 0 40px #484848, inset 0 0 0 60px #f44336, inset 0 0 0 100px #484848, inset 0 0 0 120px #f44336, inset 0 0 0 160px #484848, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
  width: 200%;
  top: 0;
  left: 0;
  animation: wifi 2s linear infinite reverse;
}

.wifi::after {
  background: #484848;
  width: 100px;
  top: calc(100% - 50px);
  left: calc(100% - 50px);
}

@-webkit-keyframes wifi {
  0% {
    -webkit-box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #484848, inset 0 0 0 120px #f44336, inset 0 0 0 160px #484848, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
            box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #484848, inset 0 0 0 120px #f44336, inset 0 0 0 160px #484848, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
  }
  25% {
    -webkit-box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #f44336, inset 0 0 0 120px #f44336, inset 0 0 0 160px #484848, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
            box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #f44336, inset 0 0 0 120px #f44336, inset 0 0 0 160px #484848, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
  }
  50% {
    -webkit-box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #f44336, inset 0 0 0 120px #f44336, inset 0 0 0 160px #f44336, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
            box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #f44336, inset 0 0 0 120px #f44336, inset 0 0 0 160px #f44336, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
  }
  75% {
    -webkit-box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #f44336, inset 0 0 0 120px #f44336, inset 0 0 0 160px #f44336, inset 0 0 0 180px #f44336, inset 0 0 0 220px #f44336, inset 0 0 0 260px #f44336;
            box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #f44336, inset 0 0 0 120px #f44336, inset 0 0 0 160px #f44336, inset 0 0 0 180px #f44336, inset 0 0 0 220px #f44336, inset 0 0 0 260px #f44336;
  }
  100% {
    -webkit-box-shadow: inset 0 0 0 40px #484848, inset 0 0 0 60px #f44336, inset 0 0 0 100px #484848, inset 0 0 0 120px #f44336, inset 0 0 0 160px #484848, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
            box-shadow: inset 0 0 0 40px #484848, inset 0 0 0 60px #f44336, inset 0 0 0 100px #484848, inset 0 0 0 120px #f44336, inset 0 0 0 160px #484848, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
  }
}

@keyframes wifi {
  0% {
    -webkit-box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #484848, inset 0 0 0 120px #f44336, inset 0 0 0 160px #484848, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
            box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #484848, inset 0 0 0 120px #f44336, inset 0 0 0 160px #484848, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
  }
  25% {
    -webkit-box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #f44336, inset 0 0 0 120px #f44336, inset 0 0 0 160px #484848, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
            box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #f44336, inset 0 0 0 120px #f44336, inset 0 0 0 160px #484848, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
  }
  50% {
    -webkit-box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #f44336, inset 0 0 0 120px #f44336, inset 0 0 0 160px #f44336, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
            box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #f44336, inset 0 0 0 120px #f44336, inset 0 0 0 160px #f44336, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
  }
  75% {
    -webkit-box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #f44336, inset 0 0 0 120px #f44336, inset 0 0 0 160px #f44336, inset 0 0 0 180px #f44336, inset 0 0 0 220px #f44336, inset 0 0 0 260px #f44336;
            box-shadow: inset 0 0 0 40px #f44336, inset 0 0 0 60px #f44336, inset 0 0 0 100px #f44336, inset 0 0 0 120px #f44336, inset 0 0 0 160px #f44336, inset 0 0 0 180px #f44336, inset 0 0 0 220px #f44336, inset 0 0 0 260px #f44336;
  }
  100% {
    -webkit-box-shadow: inset 0 0 0 40px #484848, inset 0 0 0 60px #f44336, inset 0 0 0 100px #484848, inset 0 0 0 120px #f44336, inset 0 0 0 160px #484848, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
            box-shadow: inset 0 0 0 40px #484848, inset 0 0 0 60px #f44336, inset 0 0 0 100px #484848, inset 0 0 0 120px #f44336, inset 0 0 0 160px #484848, inset 0 0 0 180px #f44336, inset 0 0 0 220px #484848, inset 0 0 0 260px #f44336;
  }
}
/*# sourceMappingURL=style.css.map */