body {
  background: #3b0e68;
  background: radial-gradient(circle, #3b0e68 0%, #1a084e 100%);
}

.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.mic::before, .mic::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: 2;
  -webkit-box-shadow: 0 0 20px 20px #1c084f;
          box-shadow: 0 0 20px 20px #1c084f;
}

.mic::before {
  width: 400px;
  height: 400px;
  background-color: #1a084e;
}

.mic::after {
  width: 250px;
  height: 250px;
  background-color: #2f1e5f;
  -webkit-animation: circle-size 0.8s linear infinite alternate;
          animation: circle-size 0.8s linear infinite alternate;
}

.mic-icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(5);
          transform: translate(-50%, -50%) scale(5);
  display: block;
  width: 16px;
  height: 12px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  border: 2px solid;
  border-top: 0;
  margin-top: 20px;
  z-index: 3;
}

.mic-icon::before, .mic-icon::after {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
}

.mic-icon::before {
  width: 10px;
  height: 4px;
  top: 12px;
  left: 1px;
  border-right: 4px solid transparent;
  -webkit-box-shadow: inset -2px 0 0;
          box-shadow: inset -2px 0 0;
}

.mic-icon::after {
  border: 2px solid;
  width: 8px;
  height: 18px;
  left: 2px;
  top: -10px;
  border-radius: 4px;
}

.mic-shadow {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  z-index: 1;
  -webkit-box-shadow: 10px -55px 30px 15px #823ca6, 24px -10px 47px 10px #aab3d2, -21px -25px 97px 10px #5acee3, 51px 5px 17px 10px #1b7d8f, 3px 2px 77px 10px #f30bf5;
          box-shadow: 10px -55px 30px 15px #823ca6, 24px -10px 47px 10px #aab3d2, -21px -25px 97px 10px #5acee3, 51px 5px 17px 10px #1b7d8f, 3px 2px 77px 10px #f30bf5;
  -webkit-animation: shadow-rotate 1.5s linear infinite;
          animation: shadow-rotate 1.5s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes circle-size {
  from {
    width: 250px;
    height: 250px;
  }
  to {
    width: 300px;
    height: 300px;
  }
}

@keyframes circle-size {
  from {
    width: 250px;
    height: 250px;
  }
  to {
    width: 300px;
    height: 300px;
  }
}

@-webkit-keyframes shadow-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes shadow-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */