$glass-color: #48eaff;

*,
*::before,
*::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background: rgb(14, 38, 78);
    background: radial-gradient(circle, rgba(14, 38, 78, 1) 0%, rgba(56, 84, 126, 1) 0%, rgba(14, 38, 78, 1) 100%);
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 400px;
    border-radius: 4px;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    perspective-origin: top right;

    .land {
        position: relative;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        transform: rotateX(-20deg) rotateY(-20deg);
        transition: .2s linear;

        &-side {
            position: absolute;
            width: 100%;
            background: rgb(243, 219, 175);
            background: linear-gradient(45deg, rgba(243, 219, 175, 1) 0%, rgba(198, 177, 140, 1) 100%);

            &.front {
                transform: translateZ(100px);
                height: 50px;
            }

            &.back {
                transform: translateZ(-100px);
                height: 50px;
            }

            &.left {
                transform: rotateY(90deg) translateZ(100px);
                height: 50px;
            }

            &.right {
                transform: rotateY(-90deg) translateZ(100px);
                height: 50px;
            }

            &.top {
                background-color: wheat;
                transform: rotateX(90deg) translateZ(100px);
                height: 100%;
            }

            &.bottom {
                background: black;
                background-color: black;
                transform: rotateX(-90deg) translateZ(-50px);
                height: 100%;
            }
        }

        .tower {
            width: 50px;
            transform-style: preserve-3d;
            transform: translateZ(-60px) translateX(-60px) translateY(-200px);
            .side {
                position: absolute;
                width: 100%;
                background: rgb(191, 74, 112);
                background: linear-gradient(45deg, rgba(191, 74, 112, 1) 0%, rgba(108, 26, 53, 1) 100%);

                &::before,
                &::after {
                    content: "";
                    width: 40%;
                    height: 15px;
                    background: $glass-color;
                    position: absolute;
                    top: 10px;
                    box-shadow: 0 20px 0 0 $glass-color, 0 40px 0 0 $glass-color, 0 60px 10px 5px #ffda48,
                        0 80px 0 0 $glass-color, 0 100px 0 0 $glass-color, 0 120px 0 0 $glass-color,
                        0 140px 0 0 $glass-color, 0 160px 0 0 $glass-color;
                }

                &::before {
                    left: 5%;
                }

                &::after {
                    right: 5%;
                }

                &.front {
                    transform: translateZ(25px);
                    height: 200px;
                }

                &.back {
                    transform: translateZ(-25px);
                    height: 200px;
                }

                &.left {
                    transform: rotateY(90deg) translateZ(25px);
                    height: 200px;
                }

                &.right {
                    transform: rotateY(-90deg) translateZ(25px);
                    height: 200px;
                }

                &.top {
                    background: #d9d9d9;
                    transform: rotateX(90deg) translateZ(25px);
                    height: 50px;
                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }
        }

        .building {
            width: 50px;
            transform-style: preserve-3d;
            transform: translateZ(-50px) translateX(10px) translateY(-50px);
            .side {
                position: absolute;
                width: 100%;
                background: rgb(117, 155, 185);
                background: linear-gradient(180deg, rgba(117, 155, 185, 1) 0%, rgba(72, 100, 122, 1) 100%);

                &::before,
                &::after {
                    content: "";
                    width: 15px;
                    height: 30px;
                    background: $glass-color;
                    position: absolute;
                    top: 10px;
                }

                &::before {
                    left: 5px;
                }

                &::after {
                    right: 5px;
                }

                &.front,
                &.back {
                   
                    &::before {
                        box-shadow: 25px -5px 0 0 $glass-color, 40px -5px 0 0 $glass-color, 50px -5px 0 0 $glass-color, 25px 20px 0 0 $glass-color, 40px 20px 0 0 $glass-color, 50px 20px 0 0 $glass-color;
                    }
                }

                &.front {
                    transform: translateZ(35px);
                    height: 50px;
                    width: 100px;
                }

                &.back {
                    transform: translateZ(-35px);
                    height: 50px;
                    width: 100px;
                }

                &.left {
                    transform: rotateY(90deg) translateZ(65px);
                    height: 50px;
                    width: 70px;
                }

                &.right {
                    transform: rotateY(-90deg) translateZ(35px);
                    height: 50px;
                    width: 70px;
                }

                &.top {
                    background: rgb(194, 133, 132);
                    background: linear-gradient(45deg, rgba(194, 133, 132, 1) 0%, rgb(170, 95, 94) 100%);
                    transform: rotateX(90deg) translateZ(35px);
                    height: 70px;
                    width: 100px;
                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }
        }

        .road {
            background: #262626;
            transform: rotateX(90deg) translateZ(101px) translateX(0) translateY(0);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            transform-style: preserve-3d;

            &::after {
                content: "";
                position: absolute;
                width: 40px;
                height: 5px;
                background: #eaeaea;
                top: 125px;
                left: 15px;
                box-shadow: 65px 0 0 0 #eaeaea, 130px 0 0 0 #eaeaea;
            }

            .footway {
                width: 100%;
                transform: translateZ(2.5px);
                position: relative;
                //background: rgb(116, 116, 116);
                //background: linear-gradient(45deg, rgba(116, 116, 116, 1) 0%, rgba(129, 129, 129, 1) 100%);
                transform-style: preserve-3d;

                &-left {
                    height: 100px;

                    .back {
                        transform: rotateX(90deg) translateZ(-97.5px);
                        height: 5px;
                    }

                    .left {
                        transform: rotateY(90deg) translateZ(150px) rotateZ(90deg) translateX(47.5px);
                        height: 5px;
                        width: 100px;
                    }

                    .right {
                        transform: rotateY(-90deg) translateZ(50px) rotateZ(90deg) translateX(47.5px);
                        height: 5px;
                        width: 100px;
                    }
                }
                &-right {
                    height: 40px;

                    .back {
                        transform: rotateX(90deg) translateZ(-37.5px);
                        height: 5px;
                    }

                    .left {
                        transform: rotateY(90deg) translateZ(180px) rotateZ(90deg) translateX(17.5px);
                        height: 5px;
                        width: 40px;
                    }

                    .right {
                        transform: rotateY(-90deg) translateZ(20px) rotateZ(90deg) translateX(17.5px);
                        height: 5px;
                        width: 40px;
                    }
                }

                &-side {
                    position: absolute;
                    width: 100%;
                    background: rgb(116, 116, 116);
                    background: linear-gradient(45deg, #666666 0%, #4a4a4a 100%);

                    &.front {
                        transform: rotatex(90deg) translateZ(2.5px);
                        height: 5px;
                    }

                    &.top {
                        background: rgb(116, 116, 116);
                        background: linear-gradient(45deg, rgba(116, 116, 116, 1) 0%, rgba(129, 129, 129, 1) 100%);
                        transform: translateZ(2.5px);
                        height: 100%;
                    }
                }
            }
        }
    }
}
