*,
*::before,
*::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.toggle-button {
    position: fixed;
    display: block;
    top: 20px;
    right: 20px;
    z-index: 99999;
    width: 40px;

    &:hover {
        background-color: #e3a410;
        cursor: pointer;
    }
}

.menu {
    width: 100%;
    display: none;
    position: fixed;
    z-index: 9999;
    height: 100vh;
    background: #e3a210f5;
    flex-direction: column;

    &-open span {
        width: 75%;
        height: 5px;
        margin: 5px auto;
        background-color: #363636;
        display: block;
        border-radius: 10px;
    }

    &-close {
        padding: 15px 0px !important;
        position: fixed;
        height: 34px;
        display: none;

        span {
            width: 40px;
            height: 5px;
            background-color: #363636;
            position: absolute;
            border-radius: 10px;

            &.first {
                transform: rotate(-45deg);
                display: block;
            }

            &.second {
                transform: rotate(45deg);
                display: block;
            }
        }
    }

    ul {
        width: fit-content;
        margin: auto;

        li {
            list-style-type: none;
            text-align: center;

            a {
                display: block;
                padding: 5px;
                font-size: 30px;
                font-weight: 300;
                color: #980198;
                text-transform: uppercase;

                &:hover {
                    text-decoration: none;
                    color: #420042;
                }
            }
        }

        &.socials {
            width: 100%;
            text-align: center;

            li {
                list-style-type: none;
                text-align: center;
                display: inline-block;

                a {
                    display: block;
                    padding: 10px;
                    font-size: 23px;
                    font-weight: 300;
                    color: #353535;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: none;
                        color: #420042;
                    }
                }
            }
        }
    }
}
