*,
*::before,
*::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #3d3d3e;
}

.not-found{
  font-size: 50vw;
    font-family: arial, sans-serif;
    font-weight: 900;
    width: 100%;
    background: #edc227;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: light 10s linear infinite;
    color: #111;

    span{
      font-size: 4vw;
    margin-top: -2em;
    }
}

@keyframes light {
  0%{
    clip-path: circle(20% at 30% 40%);
  }
  10%{
    clip-path: circle(20% at 20% 10%);
  }
  20%{
    clip-path: circle(20% at 80% 60%);
  }
  30%{
    clip-path: circle(20% at 50% 50%);
  }
  40%{
    clip-path: circle(20% at 90% 40%);
  }
  50%{
    clip-path: circle(20% at 30% 70%);
  }
  60%{
    clip-path: circle(20% at 60% 30%);
  }
  70%{
    clip-path: circle(20% at 80% 90%);
  }
  80%{
    clip-path: circle(20% at 20% 60%);
  }
  90%{
    clip-path: circle(20% at 30% 80%);
  }
  100%{
    clip-path: circle(20% at 30% 40%);
  }
}