body {
    background-color: bisque;
}

.head {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 250px;
    max-width: 450px;

    .hair {
        width: 115%;
        height: 25%;
        border-radius: 20px 20px 100% 100%;
        background-color: black;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .face {
        width: calc(100% - 6px);
        aspect-ratio: 1;
        background-color: #ffac80;
        border: 3px solid #47220d;
        border-radius: 3%;
        transform: perspective(600px) rotateX(25deg);
        z-index: 10;
        position: relative;
        box-shadow: 0 0 10px #00000070;

        .eyes {
            width: 100%;
            aspect-ratio: 16/3;
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%);
            border-radius: 25px;
            display: flex;
            justify-content: space-evenly;

            .eye {
                width: 25%;
                height: 100%;
                background-color: rgb(255, 255, 255);
                position: relative;
                box-shadow: 0 0 5px 3px #522708;

                &::before {
                    content: "";
                    position: absolute;
                    width: 55%;
                    aspect-ratio: 1;
                    background-color: #321c05;
                    border-radius: 100%;
                    left: 50%;
                    transform: translate(-50%, 0);
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 150%;
                    height: 40%;
                    background-color: black;
                    left: 50%;
                    top: -10%;
                    transform: translate(-50%, 0);
                }

                &-left {
                    border-radius: 15px 50px 15px 30px;

                    &::after {
                        transform: translate(-50%, 0) rotate(20deg);
                        border-radius: 15px 100% 15px 15px;
                    }
                }

                &-right {
                    border-radius: 30px 15px;

                    &::after {
                        transform: translate(-50%, 0) rotate(-5deg);
                        border-radius: 5px;
                    }
                }
            }
        }

        .nose {
            border: 3px solid #47220d;
            border-top-width: 0;
            border-bottom-left-radius: 35%;
            border-bottom-right-radius: 35%;
            width: 25%;
            height: 20%;
            position: absolute;
            left: 50%;
            top: 65%;
            transform: translate(-50%, -50%) perspective(100px) rotateX(25deg);
            z-index: 12;
            box-shadow: 0 10px 10px #00000080;
        }
    }

    .ears {
        width: 125%;
        height: 25%;
        background-color: #ffac80;
        border: 3px solid #47220d;
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
        border-radius: 25px;
        z-index: 8;

        &::after {
            content: "";
            position: absolute;
            height: calc(100% - 30px);
            width: calc(100% - 30px);
            border-radius: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #ed976a;
        }
    }
}
