body {
  counter-reset: section;
}

.row {
  display: flex;
  align-items: center;

  img {
    width: 80%;
    aspect-ration: 1;
  }

  &:nth-child(even) {
    & > .col-4 {
      order: 2;
    }
  }

  & > .col-4 {
    position: relative;

    &::before {
      color: #777777;
      counter-increment: section;
      content: counter(section);
      text-shadow: -5px 5px 0 #222;
      font-size: 6em;
      font-weight: 700;
      position: absolute;
      top: -0.5em;
    }
  }
}
